<div class="container">
	<div class="row">
		<div class="col">
			<h1>Listado de personas</h1>
			<div class="container">
				<div class="col">
					<hr>
					<app-form (personCreation)="personCreate($event)"></app-form>
				</div>
			</div>

			<div class="container">
				<app-person *ngFor="let person of persons; let i= index" [person]="person" [i]="i"></app-person>
			</div>


			<label for="">Titulo persona</label>
			<input type="text" class="form-control" [(ngModel)]="title">
			{{title}}

		</div>
	</div>
</div>